@font-face {
    font-family: TitilliumWeb;
    src: url(./assests/fonts/Titillium_Web/TitilliumWeb-Bold.ttf);
}



h1{
    font-style: italic;
}

section article{
    font-family: TitilliumWeb;
    position: absolute;
    margin-top: 250px;
    color: white;
    background-color: red;
}

section{
    
    
    position: relative;
    display: flex;
    justify-content: center;
}
img{
    
    width: 100%;
    height: 100%;
}