/* imports das fontes */
@font-face {
    font-family: TitiliumWeb-Bold;
    src: url(../assests/fonts/Titillium_Web/TitilliumWeb-Bold.ttf);
}
@font-face {
    font-family: TitiliumWeb-Regular;
    src: url(../assests/fonts/Titillium_Web/TitilliumWeb-Regular.ttf);
}
@font-face {
    font-family: TitilliumWeb-Black;
    src: url(../assests/fonts/Titillium_Web/TitilliumWeb-Black.ttf);
}
@font-face {
    font-family: Inter;
    src: url(../assests/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
    font-family: Quicksand;
    src: url(../assests/fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #ffffff;
}


/* Classes genéricas */
.layout-grid {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

/* justify content + align items */
.alinhamento-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Mobile First */

/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100vw;
    height: 60px;
    background-color: #1B1426;
}

/* Header Top */
header .header-top {
    display: none;
}

/* Header Bottom */


header .header-bottom {
    height: 100%;
}

header .header-bottom img.logo {
    width: 86px;
}

header .header-bottom nav {
    position: fixed;
    top: 60px;
    left: -80vw;
    width: 80vw;
    height: calc(100vh - 60px);
    

    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(45px);
    

transition: left 0.4s;
}
.mostrar-more{
    right: 0 !important;
}
.mostrar-menu {
    left: 0 !important;
}

/* somente links "filhos diretos" */
header .header-bottom nav > a {
    color: white;
    font-family: Inter;
    font-size: 15px;
    border-bottom: 1px solid #F9AA01;
    text-align: center;
    text-decoration: none;
    padding: 30px 0;


}

header .header-bottom nav>a:hover{
    background-color: #F9AA01;
}

header header.bottom nav > a:first-of-type{
    border-bottom: none ;
} 

/* menu lateral direito - icones */
header .header-bottom .menu-usuarios {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: fixed;
    right: -80vw;
    top: 60px;
    width: 20vw;
    background-image: linear-gradient(to bottom right, rgba(27, 20, 38, 0.7), rgb(27, 20, 38, 0.4));
    backdrop-filter: blur(45px);
    
    padding: 20px 0;

    transition: right 0.4s;
}

header .header-bottom  .midias-sociais {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    /* gap e o espacamento */

    position: absolute;
    bottom: 30px;
}


/* MAIN */
main {
    margin-top: 60px;
}
/* Banner */
.banner {
    width: 100%;
    height: 606px;
    
    background-image: url(../assests/images/banner-mobile-valorant.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

h1 {
    font-family: TitilliumWeb-Black;
    font-size: 40px;
    display: flex;
    justify-content: center;
    text-shadow: 0 0 10px #FD4255;

}

.banner .botao-sobre {

    font-family: TitiliumWeb-Bold;
    font-size: 24px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    width: 171px;
    height: 40px;
    background-color: #F9AA01;
    border: #F9AA01;
    text-decoration: none;
    align-items: center;
    
}

.banner .botao-article {
    display: flex;
    justify-content:center;
    padding-top: 470px;
}

.jogos{
    background-color: #1B1426;
}

.jogos img{
    display: flex;
    justify-content: space-around;
    padding-top: 69px;
    width: 336px;
}
.jogos img.fifa{
    display: flex;

}

.jogos img.csgo {
    display: flex;
    padding-bottom: 72px;
}

.noticias{
    background-color: #F9AA01;

}

h2{
    font-family: TitilliumWeb-Black;
    font-size: 18px;
    color: #000000;
    gap: 8%;
    padding-left: 40px;
    padding-top: 45px;
}

hr{
    
    width: 204px;
    border-color: #000000;
    border: 10;
    margin-left: 65px;
    margin-top: 50px;
    margin-bottom: 60px;
}

.noticias .killjoy-article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: 25px;
    padding-right: 20px;
    padding-left: 28px;
    padding-bottom: 47px;
    width: 231px;
    height: 300px;
    top: 1612px;
    left: 125px;
    background: linear-gradient(145deg, rgba(122, 49, 236, 0.4), rgba(47, 7, 109, 0.8));
    border: 1px solid #ffffff;
    border-radius: 8%;
    backdrop-filter: blur(8px);
}

.noticias article.killjoy-article h3{
    font-family: TitilliumWeb-Black;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0px 0px;
}

.noticias article.killjoy-article p{
    font-family: Quicksand;
    font-size: 13px;
    color: #ffffff;
}


.noticias article.jinx-article {
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: column;

width: 231px;
height: 300px;
top: 2249px;
left: 9px;
background: linear-gradient(145deg, rgba(122, 49, 236, 0.2), rgba(47, 7, 109, 0.8) );
border: 1px solid #ffffff;
border-radius: 8%;
padding-top: 21px;
padding-left: 35px;
padding-bottom: 26px;
padding-right: 35px;
backdrop-filter: blur(8px);

}

.noticias article.jinx-article h4{
    font-family: TitilliumWeb-Black;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    padding-left: ;
    text-shadow: 0px 0px;
}

.noticias article.jinx-article p{
    font-family: Quicksand;
    font-size: 13px;
    color: #ffffff;

}
.card-killjoy{
position: relative;
margin-top: 200px;
margin-left: 105px;
align-self: flex-end;

}

.card-jinx{
position: relative;
margin-top: 320px;
align-self: flex-start;
}

.noticias img.killjoy {
    position: absolute;
    right: 26px;
    bottom: -88px;
    padding-left: ;
}

.noticias img.jinx{
    position: absolute;
    left: 26px;
    bottom: -10px;
}

/* Footer */
footer{
    padding-top: 60px;
    padding-bottom: 30px;
    box-shadow: inset 0 30px 60px rgba(0, 0, 0, 1);
    background-image: url(../assests/images/backgroung_footer\ 2.png);
    background-position: top;
    background-size: contain;
}

footer #sobre {
    
    width: 100%;
    height: 304px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(259, 128, 114, .3);
}

footer #sobre > img{
    width: 110px;
}

footer #sobre p {
font-family: Quicksand;
font-size: 14px;
font-weight: 400;
}

footer #midias-sociais-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;
}

/* Tablets */
@media screen and (min-width: 768px) {
    
}

/* Desktops */
@media screen and (min-width: 1200px) {

    .layout-grid{
        width: 100%;
        max-width: 1200px;
    }
 
    /* HEADER */
    header {
        position: static;
        height: 140px;
    }

    header .header-top{
        /* block e o valor default da maioria dos elementos*/
        display: block;
        height: 50px;
        border-bottom: 2px solid #F9AA01;
    }

    header .header-top .contatos {
        width: 415px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        font-family: Inter;
        font-size: 14px;
        font-weight: 400
        
    }

    header .header-top .midias-sociais{
        border: 2px solid white;
    }

    header .header-top > div {
        display: flex;
        justify-content: space-between;
        align-content: center;
        gap: 10px;
        /* border: 1px solid yellow; */
    }

    header .menu-hamburguer,
    header .menu-pontinhos,
    header .header-bottom nav .phone,
    header .header-bottom nav .email,
    header .header-bottom nav .midias-sociais {
        display: none;
    }
    header .header-bottom{
        height: 90px;
    }

    header .header-bottom img.logo {
        width: 200px;
    }

    header .header-bottom nav {
        position: static;
        width: 440px;
        height: 50px;
        padding: 0;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        

        /* background-color: red; */
    }
 
    /* links para filhos diretos */
    header .header-bottom nav > a{
        border: none;
        font-size: 14px;
    }

    header .header-bottom nav>a:hover{
        background-color: transparent;
        color: #F9AA01;
    }


    header .header-bottom nav>a:last-of-type{
    border-bottom: none;

    }



    header .header-bottom .menu-usuarios{
        position: static;
        flex-direction: row;
        width: 180px;
        height: 50px;
        background-color: transparent;
    }

    /* MAIN */
    main {
        margin-top: 0;
        background-color: #1B1426;

    }

    .banner{
        background-image: url(../assests/images/liga\ gamers\ desktop.png);
        
    }
    h1{
        font-size: 80px;
    }

    .banner .botao-article{
        padding-top: 380px;
    }

    .jogos{
        height: 500px; ;
    }
    .jogos .flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        
    }

    .jogos img.fifa{
        width: 556px;
        height: 380px;
    }

    .jogos img.csgo{
        width: 556px;
        height: 453px; ;
    }

     h2{
        
        font-size: 40px;
        padding-left: 290px;
        letter-spacing: 4px;

        
    }
    hr{
        margin-left: 455px;
    }
     
    .noticias .killjoy-article{
        width: 290px;
        height: 380px;
        border-radius: 0;
        border: none;
        
        justify-content: space-evenly;
        
    }
    .noticias article.jinx-article{
        width: 290px;
        height: 380px;
        border-radius: 0;
        border: none;
        justify-content: space-evenly;
    }



    
}


