

@font-face {
    font-family: TitilliumWeb-Black;
    src: url(../assests/fonts/Titillium_Web/TitilliumWeb-Black.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


h1{
    font-family: TitilliumWeb-Black;
}

/* Mobile First */
